<!--<h3> Products under this genres </h3>-->
<%#= select_tag(:genre_id, options_for_select(Genre.all), :prompt => "Select one!") %>
<%# if :genre_id == (1..8) %>
<%# Post.where(genre_id: @genre.id).each do |post| %>
  <%#= post.name %>
<%# end %>
<%#end %>