<!--<h3> Products under this category </h3>-->
<%# form_for :genre, :url => {:name => 'Adventure'} do |form| %>

  <%#= form.select :title, @genres, {:prompt=>"select genre"},--> {:multiple=>true}%>
  <%#=submit_tag "Display Results", :class => "submit"%>

<%#end%>