<%= javascript_include_tag 'search' %>
<form class="form-inline mt-2 mt-md-0">



  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="main_search_field" >
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="post_search" >Search</button>
</form>
