<%= javascript_include_tag 'search' %>
<div class="form-inline mt-2 mt-md-0">
  <label for="post_search"></label><input class="form-control mr-sm-2" type="text" id="post_search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  id="btn_post_search">Search</button>
</div>