<% @post.chapters.each_with_index do |chapter,index| %>
  <div align="center">
    <h3>Chapter <%= index+1 %></h3>
  </div>

  <p class="text-break"><%= chapter.body.html_safe %></p>

  <%= image_tag chapter.image.url(:large), class:'image-show' if chapter.image?%>

  <%# if current_user &&(@post.user_id == current_user.id) %>
<!--    <button type="button" class="btn btn-danger">-->
      <%#= link_to "Destroy", [chapter.post,chapter],method: :delete,data: { confirm: 'Are you sure?' } %>
<!--    </button>-->
<!--    <button type="button" class="btn btn-warning">-->
      <%#=link_to 'Edit', edit_post_chapter_path(@post,chapter) %>
<!--    </button>-->
  <%#end %>
  <hr>
<%end %>