
<%= form_for([@post,@chapter]) do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.trix_editor :body, required:true, autofocus:true %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<%end %>
