<%= javascript_include_tag 'tag_cloud' %>
<div id="tag_cloud">
<%= render partial: 'tag_cloud/tag_cloud' %>
  <%#= render 'genres/show' %>
</div>
<h1 align="center">Funfics</h1>
<table>
<%= render partial: 'posts' %>
</table>