<%= javascript_include_tag 'tag_cloud' %>
<p id="flex">
<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w[tagc1 tagc2 tagc3 tagc4 tagc5 tagc6] do |tag, css_class| %>
  <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
</p>